<p>Actions:</p>

<p>Position</p>
<p><a href="https://oauth2_server.com/position/create">Create position</a></p>
<p><a href="https://oauth2_server.com/position_get_by_id">Get position by id</a></p>
<p><a href="https://oauth2_server.com/position/all">Get info about all positions</a></p>

<p>Employers</p>
<p><a href="https://oauth2_server.com/employe/create">Create employe</a></p>
<p><a href="https://oauth2_server.com/employe/all">Get info about all employers</a></p>
<p><a href="https://oauth2_server.com/employe_get_by_id">Get employe by id</a></p>


